extends ../layout/base 
block content 
	section.content-header 
		h1 
			| Dashboard Page
			small it all starts here
		ol.breadcrumb 
			li 
				a(href='#') 
					i.fa.fa-dashboard
					| Level 
			li.active Here 
	